<manifest package="com.escodro.viittaus"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.ViewListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PlayerActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.SpectreActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.RadarActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.ChronusActivity"
            android:launchMode="singleTask"/>

    </application>

</manifest>
